*.o
*.lo
*.la
*.trs
*.log
enchant-*.tar.gz
.libs
.deps
.dirstamp
/aclocal.m4
/autom4te.cache
/build-aux
/compile
/configure
/config.*
/depcomp
/enchant-uninstalled.pc
/enchant.pc
/enchant.ps
/enchant.spec
/gnulib
/install-sh
/lib
/libtool
/ltmain.sh
/missing
/INSTALL
/test-driver
Makefile
Makefile.in
