aclocal.m4
autogen.err
autom4te.cache
autopackage/default.apspec
compile
configure
config.*
depcomp
enchant-uninstalled.pc
enchant.pc
enchant.ps
enchant.spec
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
src/**/*.o
src/**/*.lo
src/**/*.la
src/**/.libs
src/**/.deps
src/libenchant.rc
tests/**/*.o
tests/**/*.lo
tests/**/*.la
tests/**/.libs
tests/**/.deps
tests/enchant
tests/enchant-lsmod
tests/ispell
tests/test-enchant
tests/test-enchantxx
