/config
/test.pwl
/main.test
/main.test.exe
/providers.test
/providers.test.exe
/enchant-composite.test
/enchant-composite.test.exe
libenchant_*.so
libenchant_*.dylib
*enchant*.dll
enchant*.so
/_Noreturn.h
/arg-nonnull.h
/c++defs.h
/dummy.c
/unused-parameter.h
/warn-on-use.h
