*.stamp
/enchant-[1-9]
/enchant.1
/enchant-[1-9].1
/enchant-[1-9].html
/enchant-[1-9].exe
/enchant_*_vala.stamp
/enchant-lsmod-[1-9]
/enchant-lsmod-[1-9].html
/enchant-lsmod-[1-9].exe
/enchant-lsmod.1
/enchant-lsmod-[1-9].1
/enchant.c
/enchant-lsmod.c
/slurp.c
/test
/test.exe
/test.c
/testcase.c
/testutils.c
/util.[ch]
/util.vapi
/libutil_la_vala.stamp-t
/dummy.vala
